body{
    background-image: linear-gradient(to right,rgb(83,105,118), rgb(41, 46, 73));
    font-family: poppins;
    font-size: 22px;
}
img{
    width: 500px;
    max-width: 100%;
    height: auto;
    ma
}


