html,body{
    margin: 0;
    padding: 0;
    width: 100%;

}
body{
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image:  url(images/bg.jpg);
    background-size: cover;
    background-attachment:fixed;
    z-index: 1111;

}


.logo{
    position: fixed;
    float: left;
    margin: -10px 36px;
    
}
nav{
    position: fixed;
    width: 100%;
    background-color:rgba(0,0,0,0.3);
}
nav ul{
    list-style: none;
    background:rgba(0,0,0,0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align:right;
    margin: 0;
    transition: 1s;
}
nav.black ul{
    background: #000;

}
nav ul li{
    display:inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
}
.explorer{
    padding-left: 35px;
    padding-top: 100px;
    width: 65%;
    height: 65%;
}



.content1{
    color: white;
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 0px;
    font-style: normal;
    font-size: 18px;
    font-family: sans-serif;
}
i{
    font-size: 25px;
}
/*-----------tourism--------------*/
.tourism{
    margin:50px 0;
    
    
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    
}


.col-1{
    flex-basis: 1%;
    
    
   
    min-width: 190px;
}

.col-1 img{
    
        width: 290px;
        border: 5px;
        border-top: 20px;
        border-color: #000;
        padding-bottom: 100px;
                                    
}


.small-container{
    max-width: 1800px;
    
    margin-top: 10px;
    padding-top:230px;
    
    
    
}
.title{
    
    font-weight: bold;
    margin-left: auto;
    position:relative;
    padding-left: 35px;
   
    
    
    
    
}
.tourism h2{
    display: inline-block;
    text-align: center;
    inline-size: 300px;
    
    background-color: #000;
    color:azure;
    font-size: 50px;
    
    
}
.tourism h4{
    display: block;
    margin-top: 25px;
    font-weight: bold;
    
}
.responsiveimg{
    width: 100%;
  max-width: 500px;
  height: auto;
}
@media (max-width:400px) {
    
    .responsiveimg{
        width: 252px;
        height: 130px;
    }
    .content1{
        font-size: 16px;
        text-align: left;
        text-align-last: left;
    }
}
@media (min-width:1000px){
    .content1{
        padding-right: 30%;
    }
}

#mainbody{
  overflow: scroll ;
}



/*Navbar*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .navv{
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .navbar{
    height: 70px;
    width: 100%;
    background-color: #1bd3996e;
    
    
  }
  #logo{
   padding-top: 10px;
   padding-left: 10px;
  }

  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
  }
   
  
  .navbar .nav-links a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    background-color: rgba(0, 0, 0, 0.3);
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
   
  @media (max-width:700px) {
    .navbar .nav-btn{
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .navbar .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 70px;
      padding: 25px;
    }
    .navbar .nav-btn label span {
      display: block;
      height: 10px;
      width: 25px;
      border-top: 3px solid #eee;
    }
    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
      background-color: rgba(9, 90, 62, 0.563);
    }
    .navbar .nav-links{
      position: absolute;
      display: block;
      text-align: center;
      width: 50%;
      background-color: rgba(9, 90, 63, 0.696);
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      right: 0px;
    }
    .navbar .nav-links a {
      display: block;
    }
   
    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
   
    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 470px);
      overflow-y: auto;
    }
    
     
   
  }